<%- include('header') -%>

<ul>
  <li><a href="/leikir">Leikir</a></li>
  <li><a href="/stada">Staða</a></li>

</ul>

<section>
  <h2>Umsjónarsíða</h2>
  <p>Innskráningar krafið til að eiga við gögn:</p>
  <p><a href="/admin">Innskrá</a></p>
</section>

<%- include('footer') -%>
